In [1]:
from pyspark.sql import SparkSession,SQLContext
from pyspark import SparkContext

In [2]:
sc = SparkContext('local','Spark SQL')
Sqlcontext = SQLContext(sc)

In [3]:
department = Sqlcontext.read.parquet("hdfs://nameservice1/user/anabig114227/prasad_captone/DEPARTMENT/364eef17-5f0b-48e2-986e-06988900c6a1.parquet")

In [4]:
department.show(2)

+-------+---------+
|dept_no|dept_name|
+-------+---------+
|   d001|Marketing|
|   d002|  Finance|
+-------+---------+
only showing top 2 rows

In [5]:
dept_EMPLOYEE = Sqlcontext.read.parquet("hdfs://nameservice1/user/anabig114227/prasad_captone/DEPT_EMPLOYEE/effcae4e-3d25-4ccc-9643-565a336250b3.parquet")

In [6]:
dept_EMPLOYEE.show(2)

+------+-------+
|emp_no|dept_no|
+------+-------+
| 10001|   d005|
| 10002|   d007|
+------+-------+
only showing top 2 rows

In [7]:
dept_MANAGER = Sqlcontext.read.parquet("hdfs://nameservice1/user/anabig114227/prasad_captone/DEPT_MANAGER/3ceabfa2-eeef-4fa9-83a8-9fe2178484ef.parquet")

In [8]:
dept_MANAGER.show(2)

+-------+------+
|dept_no|emp_no|
+-------+------+
|   d001|110022|
|   d001|110039|
+-------+------+
only showing top 2 rows

In [9]:
employees = Sqlcontext.read.parquet("hdfs://nameservice1/user/anabig114227/prasad_captone/EMPLOYEES/0a43d9eb-4f13-436a-be5b-bf90f54d5adc.parquet")

In [10]:
employees.show(2)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+-----+----------+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|Last_performance_rating|left_| last_date|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+-----+----------+
|
|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+-----+----------+
only showing top 2 rows

In [11]:
Salaries = Sqlcontext.read.parquet("hdfs://nameservice1/user/anabig114227/prasad_captone/SALARIES/a1eaae9e-9fbd-46a0-8e82-979cfbe5c59e.parquet")

In [12]:
Salaries.show(2)

+------+------+
|emp_no|salary|
+------+------+
| 10001| 60117|
| 10002| 65828|
+------+------+
only showing top 2 rows

In [13]:
Titles = Sqlcontext.read.parquet("hdfs://nameservice1/user/anabig114227/prasad_captone/TITLES/7d8d8ba3-de58-4ce4-91c1-f0a8464316a2.parquet")

In [14]:
Titles.show(2)

+--------+----------+
|title_id|     title|
+--------+----------+
|   e0001|Assistant |
|   e0002|  Engineer|
+--------+----------+
only showing top 2 rows

In [15]:
department.createTempView("department_ptbl")

In [ ]:
dept_EMPLOYEE.createTempView("dept_employee_ptbl")

In [17]:
dept_MANAGER.createTempView("dept_manager_ptbl")

In [18]:
employees.createTempView("employees_ptbl")

In [19]:
Salaries.createTempView("salaries_ptbl")

In [20]:
Titles.createTempView("titles_ptbl")

In [21]:
a=Sqlcontext.sql("""select * from department_ptbl""").toPandas()

In [22]:
a

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service

In [23]:
Sqlcontext.sql("""select * from department_ptbl""").show(2)

+-------+---------+
|dept_no|dept_name|
+-------+---------+
|   d001|Marketing|
|   d002|  Finance|
+-------+---------+
only showing top 2 rows

In [31]:
--1.

Sqlcontext.sql("""select A.emp_no,last_name,first_name,sex,salary from employees_ptbl A
join salaries_ptbl B on A.emp_no=B.emp_no""").show(2)

+------+---------+----------+---+------+
|emp_no|last_name|first_name|sex|salary|
+------+---------+----------+---+------+
| 10001|  Facello|    Georgi|  M| 60117|
| 10002|   Simmel|   Bezalel|  F| 65828|
+------+---------+----------+---+------+
only showing top 2 rows

In [ ]:
--2.

Sqlcontext.sql("""select first_name,last_name,hire_date from final_employees_ptbl
where year(hire_date) = 1986""")

In [ ]:
--3.

Sqlcontext.sql(""""select A.dept_no,dept_name,A.emp_no,last_name,first_name from dept_manager_ptbl A
join employees_ptbl B
on A.emp_no=B.emp_no
join department_ptbl C
on A.dept_no=C.dept_no""").show(2)

In [ ]:
--4.

Sqlcontext.sql("""select A.emp_no,last_name,first_name,dept_name
from employees_ptbl A
inner join dept_employee_ptbl B
on A.emp_no = B.emp_no
inner join department_ptbl C
on B.dept_no = C.dept_no""")

In [ ]:
--5.

Sqlcontext.sql("""select first_name,last_name,sex
from employees_ptbl
where first_name = 'Hercules' and last_name like 'B%'""")

In [ ]:
--6.

Sqlcontext.sql("""select A.emp_no,last_name,first_name,dept_name 
from employees_ptbl A
join dept_employee_ptbl B
on A.emp_no = B.emp_no
join department_ptbl C
on B.dept_no = C.dept_no
where C.dept_name = 'Sales'""")

In [ ]:
--7.

Sqlcontext.sql("""select emp_no,last_name,first_name,dept_name
from employees_ptbl
join dept_employee_ptbl
on dept_employee_ptbl.emp_no = dept_employee_ptbl.emp_no
join department_ptbl
on dept_employee_ptbl.dept_no = department_ptbl.dept_no
where department_ptbl.dept_name = 'sales' or department_ptbl.dept_name = 'Development'""")

In [ ]:
--8.

Sqlcontext.sql("""select last_name,count(*)
from employees_ptbl
group by last_name
order by count(*) desc""")

In [ ]:
Sqlcontext.sql("""""")

In [ ]:


employees = employees.select('emp_no','sex','no_of_projects','Last_performance_rating','left','title','dept_no',
                          'salary','dept_name').toPandas()

In [ ]:
--9.


employees.salary.hist(bins = 10)

In [ ]:
--10.

data_table = employees.pivot_table(index='title',values = 'salary',aggfunc= 'mean').reset_index()
plt.figure(figsize=(15,6))
sns.barplot(data = data_table,x='title',y='salary')
plt.show()

In [ ]:
--11.

Sqlcontext.sql("""select emp_no,hire_date,last_date
case when last_date is null then 2000 - year(hire_date) else  year(last_date)-year(hire_date) end as Tenure
from emp_tbl""").show()

In [ ]:
---own analysis{Percentage distribution of employees as per the Designation}
--12.

employees.groupby('title')['emp_no_s'].agg('count').plot(kind='pie',subplots=True,figsize=(12,7),autopct = '%1.4f%%')
plt.show()

In [ ]:
---Gender wise employee count for different departments
--13.

output1 = employees.pivot_table(index='dept_name', columns='sex', values='emp_no', aggfunc='count')
#plt.figure(figsize=(10,4))
output1.plot(kind='bar',figsize=(10,4))
plt.xlabel("Department")
plt.ylabel("Employee Count")

In [ ]:
-- Department wise employee count
--14.

data_table = employees.pivot_table(index='dept_name',values = 'emp_no_s',aggfunc= 'count').reset_index()
plt.figure(figsize=(15,6))
sns.barplot(data = data_table,x='dept_name',y='emp_no_s',palette="Blues_d")
plt.show()

In [ ]:
--Max, min, avg of salaries
--15.

employees.select(max('salary').alias('Max Salary'),min('salary').alias('Min Salary'),mean('salary').alias('Average Salary')).show()

In [ ]:
--Department wise Left and working employee

--16.

employees.pivot_table(index='dept_name',columns='left_',values = 'emp_no',aggfunc= 'count').plot(kind='bar',figsize=(15,5))
plt.show()

# --ML

In [ ]:
#emp_df
employees = employees.join(titles,employees.emp_title_id == titles.title_id,"rightouter").join(dept_employee,employees.emp_no == dept_employee.de_emp_no,"rightouter").join(salaries,employees.emp_no == salaries.sl_emp_no,"rightouter")

In [ ]:
employees.columns

In [ ]:
#SELECT FEW COLUMNS FOR MY MODEL

employees_final = employees.select('dept_no','sex','salary','no_of_projects','left','birth_date')

In [ ]:
# Create a new column called "age" to calculate the age of employees
employees_final = employees_final.withColumn('age',2000-year('birth_date'))

In [ ]:
employees_final = employees_final.drop("birth_date")

In [ ]:
--Feature Engineering

In [ ]:
employees_final.show(2)

In [ ]:
#Encoding all categorical features
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, PolynomialExpansion, VectorIndexer,OneHotEncoderEstimator

In [ ]:
#Columns that will be used as features and their types
continuous_features = ['salary', 'no_of_projects','age']

categorical_features = ['dept_no', 'sex']

In [ ]:
# create object of StringIndexer class and specify input and output column
SI_de_dept = StringIndexer(inputCol='de_dept_no',outputCol='de_dept_Index')
SI_sex = StringIndexer(inputCol='sex',outputCol='sex_Index')


# transform the data
employees_final = SI_de_dept.fit(employees_final).transform(employees_final)
employees_final = SI_sex.fit(employees_final).transform(employees_final)

# view and transform the data
employees_final.show(2)

In [ ]:
# create object and specify input and output column
OHE = OneHotEncoderEstimator(inputCols=['de_dept_Index', 'sex_Index'],outputCols=['de_dept_Ohe', 'sex_Ohe'])
# transform the data
employees_final = OHE.fit(employees_final).transform(employees_final)

# view and transform the data
employees_final.show(2)

In [ ]:
featurecols = continuous_features + ['de_dept_Ohe', 'sex_Ohe']

In [ ]:
# Feature Column
assembler = VectorAssembler(inputCols=featurecols,outputCol="features")

employees_final = assembler.transform(employees_final)

In [ ]:
#Label Column

employees_final = employees_final.withColumnRenamed("left_",'label')
employees_final = employees_final.withColumn("label",emp_df_final.label.cast('int'))

In [ ]:
---Train & Test Data

In [ ]:
train_df,test_df = employees_final.randomSplit( [0.7, 0.3], seed = 42 )

In [ ]:
#Build the Linear Regression Model
from pyspark.ml.classification import LogisticRegression

In [ ]:
logrg = LogisticRegression(featuresCol= 'features',labelCol='label',maxIter=5)

In [ ]:
lr = logrg.fit(train_df)

In [ ]:
lr.intercept

In [ ]:
lr.coefficients

In [ ]:
y_pred_test = lr.transform(test_df)

In [ ]:
y_pred_train = lr.transform(train_df)

In [ ]:
y_pred_train.select('features','label','rawPrediction','probability','prediction').toPandas().head()

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
evaluator = BinaryClassificationEvaluator()

In [ ]:
evaluator.evaluate(y_pred_test)

In [ ]:
---Accuracy

In [ ]:
y_pred_test.filter(y_pred_test.label == y_pred_test.prediction).count() / float(y_pred_test.count())

# PipeLine

In [ ]:
#Columns that will be used as features and their types
continuous_features = ['salary', 'no_of_projects','age']

categorical_features = ['de_dept_no', 'sex']

In [ ]:
indexers = [StringIndexer(inputCol=c, outputCol="{}_idx".format(c)) for c in categorical_features]

In [ ]:
indexers

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler,OneHotEncoderEstimator
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression

## Create indexers for the categorical features
indexers = [StringIndexer(inputCol=c, outputCol="{}_idx".format(c)) for c in categorical_features]

## encode the categorical features
encoders = [ OneHotEncoderEstimator(
      inputCols=idx.getOutputCol(),
      outputCols="{0}_enc".format(idx.getOutputCol())) for idx in indexers]

## Create vectors for all features categorical and continuous

assembler = VectorAssembler(
  inputCols=[enc.getOutputCol() for enc in encoders] + continuous_features,
  outputCol="features")

## Initialize the linear model
lrModel = LinearRegression( maxIter = 10 )


## Create the pipeline with sequence of activities
#pipeline = Pipeline( stages=indexers + encoders + [assembler, lrModel ])

pipeline = Pipeline( stages= [indexers, encoders, assembler, lrModel ])

In [ ]:
#Label Column
employees_final = employees_final.withColumnRenamed("left_",'label')
employees_final = employees_final.withColumn("label",employees_final.label.cast('int'))

In [ ]:
training, testing = housing_pipeline_df.randomSplit( [0.7, 0.3], seed = 42 )

In [ ]:
model = pipeline.fit( training )

In [ ]:
y_pred_train = model.transform(training)